.subtitle {
  opacity: 0.8;
  text-align: start;
  margin-left: 20px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.accordion {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.video-container {
  width: 50px;
  height: 280px;
  overflow: hidden;
  display: flex;
  align-items: start;
  justify-content: center;
}

.video-container_opened {
  width: 600px;
}

.video {
  width: 600px;
  height: 280px;
  object-fit: cover;
}